<link rel="stylesheet" type="text/css" href="/css/dash.css">
<div id="main-body">
    <div id="menu">
        <div id="list-menu">
            <ul class="vertical-list">
                <li style="margin-top:0rem !important;color: white !important;"><a href="/" style="color: white;"><i class="fa-solid fa-chart-line"></i> DashBoard</a></li>
                <li><a href="/favourite"><i class="fa-solid fa-bookmark"></i> Favourites</a>
                </li>
                <li><a href="/documents"><i class="fa-solid fa-file"></i>My Documents</a></li>
                <li><a href="/users/profile/<%=locals.user._id %>"><i class="fa-solid fa-address-card"></i> Profile Settings</a></li>
            </ul>
        </div>
        <div id="btn-out">
            <a href="/users/sign-out"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a>
        </div>
        <div id="rights">
            @NITC Notes, All Rights Reserved
        </div>

    </div>
    
    <div id="data">
        <div class="item">
            <div>Posted Notes</div>
            <select id="sel" type="text"  name="lang" class="form-container" style="width:20%;background: transparent;" required>
                <option disabled selected><i class="fas fa-filter">Sort By</i></option>
                <option value="desc" ><a href="#" >Latest First</a></option>
                <option value="asc" ><a href="#" >Latest Last</a></option>
            </select>
        </div>
        <% if(!dashDocs.length){%>
            <div class="empty-state">
                <div class="empty-state__content animate__animated animate__pulse">
                  <div class="empty-state__icon">
                    <img src="/images/search-result-not-found-2130361-1800925.png" alt="no-result-found">
                  </div>
                  <div class="empty-state__message">No Public Documents to show.</div>
                  <div class="empty-state__help">
                    Be the first to make a document public.
                  </div>
                </div>
            </div>
        <%}%>
       <div id="listitems" class="top-to-bottom">
            <!-- idhr loop -->
            <% for( let doc of dashDocs){%>
                <div class="brick animate__animated animate__fadeInUp">
                    <div id="tags">
                        <div id="profile" style="width: 15%;">
                           <a href="/users/profile/<%=doc.author._id %>" data-toggle="tooltip" data-placement="top" title="View Profile"><img src="<%=doc.author.avatar%>" onerror="this.onerror=null; this.src='images/hacker.png'" style="width: 100%;"></img></a>
                        </div>
                        <div id="tag" style="background-color:transparent;color: #18A0FB; width: 85%;"><%= doc.author.name%></div>
                    </div>
                    <div id="name"><a><%= doc.name%></a></div>
                    <div id="tools">
                        <!-- <% if(doc.isFav){%> -->
                            <!-- <a onclick="toggleBookmark('/favourite/toggleLike/<%=doc._id%>')" data-toggle="tooltip" data-placement="top" title="Favourite | Unfavourite">
                                <i id="" class="fa-solid fa-bookmark"></i>
                            </a>
                            <a id="<%=doc._id%>" onclick="togglePublic('/documents/togglePublic/<%= doc._id%>')" style="color: rgba(214, 214, 214, 1);" data-toggle="tooltip" data-placement="top" title="Make Private">
                                <i class="fa-solid fa-lock-open"></i>  
                            </a> -->
                        <!-- <%}else{%> -->
                            <!-- <a id="<%=doc._id%>" onclick="togglePublic('/documents/togglePublic/<%= doc._id%>')" style="color: rgba(214, 214, 214, 1);" data-toggle="tooltip" data-placement="top" title="Make Public">
                                <i class="fa-solid fa-lock"></i>
                            </a> -->
                        <!-- <%}%> -->
                        <a onclick="toggleBookmark('/favourite/toggleLike/<%=doc._id%>')" data-toggle="tooltip" data-placement="top" title="Favourite | Unfavourite">
                            <% if(doc.isFavStatus){%>
                                <i id="<%= doc._id %>" class="fa-solid fa-bookmark"></i>
                            <%}else{%>
                                <i id="<%= doc._id %>" class="fa-regular fa-bookmark"></i>
                            <%}%>
                        </a>
                        <%if(doc.uploadWay === "Google Drive Link"){%>
                            <a id="tool" style="color: rgba(214, 214, 214, 1);" href="<%= doc.downloadLink%>" target="_blank" data-toggle="tooltip" data-placement="top" title="Download File"><i class="fa-solid fa-file-arrow-down"></i></a>
                        <%}else{%>
                            <a id="tool" style="color: rgba(214, 214, 214, 1);" href="/documents/download/<%= doc._id%>" data-toggle="tooltip" data-placement="top" title="Download File"><i class="fa-solid fa-file-arrow-down"></i></a>
                        <%}%>
                              
                        </a>
                    </div>
                </div>
                <%}%>
        </div>
            
    </div>
</div>

<script src="/js/bookmark.js"></script>
    <script>
        var check="desc";
        var select = document.querySelector('#sel');
        select.addEventListener('change',function(){
            if(check!==select.value){
                check=select.value;
                var parent = document.getElementsByClassName('top-to-bottom')[0],
                divs = parent.children,
                i = divs.length;

                for (; i--;) {
                    parent.appendChild(divs[i])
                }
            }
        });
    </script>